In [70]:
%matplotlib inline

import stumpy
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as dates
from matplotlib.patches import Rectangle
import datetime as dt
import dtale

import wrangle as wg
import scipy.stats as stats

plt.rcParams["figure.figsize"] = [20,6]  # width, height
plt.rcParams['xtick.direction'] = 'out'

In [2]:
df = wg.get_dow()
df.head()

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,AA,1/7/2011,$15.82,$16.72,$15.78,$16.42,239655616,3.79267,NaN,NaN,$16.71,$15.97,-4.428490,26,0.182704
1,1,AA,1/14/2011,$16.71,$16.71,$15.64,$15.97,242963398,-4.42849,1.380223,239655616.0,$16.19,$15.79,-2.470660,19,0.187852
2,1,AA,1/21/2011,$16.19,$16.38,$15.60,$15.79,138428495,-2.47066,-43.024959,242963398.0,$15.87,$16.13,1.638310,12,0.189994
3,1,AA,1/28/2011,$15.87,$16.63,$15.82,$16.13,151379173,1.63831,9.355500,138428495.0,$16.18,$17.14,5.933250,5,0.185989
4,1,AA,2/4/2011,$16.18,$17.39,$16.18,$17.14,154387761,5.93325,1.987452,151379173.0,$17.33,$17.37,0.230814,97,0.175029

In [3]:
df = wg.prep_DOW(df)
df.head()

,quarter,stock,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
date,,,,,,,,,,,,,,,
2011-01-04,2,IBM,161.54,164.42,161.12,164.27,19081936,1.68998,-24.820375,25381792.0,164.42,164.05,-0.225033,35,0.456565
2011-01-04,2,TRV,59.09,60.01,58.37,59.71,16608737,1.04925,17.569654,14126721.0,59.83,59.58,-0.417851,68,0.686652
2011-01-04,2,KO,65.20,67.48,65.03,67.22,39265955,3.09816,31.529107,29853434.0,67.22,67.27,0.074383,73,0.699197
2011-01-04,2,XOM,83.86,84.94,82.61,84.68,77569311,0.97782,-6.951645,83364516.0,84.26,85.95,2.005700,40,0.555031
2011-01-04,2,PG,61.08,62.30,60.61,62.08,43453701,1.63720,5.084613,41351155.0,62.17,61.90,-0.434293,26,0.853737

In [11]:
df.isnull().sum()

quarter                                0
stock                                  0
open                                   0
high                                   0
low                                    0
close                                  0
volume                                 0
percent_change_price                   0
percent_change_volume_over_last_wk    30
previous_weeks_volume                 30
next_weeks_open                        0
next_weeks_close                       0
percent_change_next_weeks_price        0
days_to_next_dividend                  0
percent_return_next_dividend           0
dtype: int64

In [43]:
def quick_group(x,y):
    group_single = df.groupby(x).agg({y:['mean','min','max']})
    group_single.columns = ['mean','min','max']
    group_single = group_single.reset_index()
    return print(group_single.sort_values(by='mean', ascending=False))

In [34]:
def group_stock_and_(x):
    group_single = df.groupby('stock').agg({x:['mean','min','max']})
    group_single.columns = ['mean','min','max']
    group_single = group_single.reset_index()
    return print(group_single.sort_values(by='mean'))

In [44]:
quick_group('date', 'percent_change_price')

         date      mean       min       max
13 2011-04-29  2.451867  -1.68047  8.329430
9  2011-04-02  2.099038  -1.20156  6.102250
12 2011-04-21  1.975618  -2.60827  9.882230
8  2011-03-25  1.495959  -6.05634  4.339170
1  2011-01-14  1.322282  -8.13204  7.621740
4  2011-02-18  0.994382  -1.91728  4.347830
23 2011-11-02  0.922095 -15.42290  6.397060
0  2011-01-04  0.831334  -3.52250  5.513440
16 2011-05-27  0.769748  -3.09773  3.878580
20 2011-07-01  0.533190  -4.92066  6.797730
21 2011-08-04  0.170317  -3.45495  3.762490
2  2011-01-21  0.156960  -5.50398  4.004210
18 2011-06-17  0.122466  -3.72793  3.197850
10 2011-04-03 -0.174938  -2.77257  3.746700
19 2011-06-24 -0.180597  -3.65062  4.969700
14 2011-05-13 -0.372538  -4.15512  3.194320
3  2011-01-28 -0.597219  -4.75570  3.819160
15 2011-05-20 -0.635752 -10.49750  3.581550
11 2011-04-15 -0.714650  -8.52713  5.137090
24 2011-11-03 -1.104409  -4.33364  1.824690
7  2011-03-18 -1.168365  -4.08673  3.753210
17 2011-06-05 -1.317455  -6.14075  1.681180
5  2011-02-25 -1.331562 -10.27960  3.222660
22 2011-10-06 -1.733586  -5.73566  0.387254
6  2011-03-06 -3.257622  -6.01432 -0.761905

# Who are the top performers by mean for percent change price?

In [45]:
quick_group('stock', 'percent_change_price')

   stock      mean       min      max
22   PFE  0.591685  -3.41018  6.10225
12   IBM  0.587680  -3.27004  3.79122
17  KRFT  0.544360  -2.73973  5.13709
1    AXP  0.521029  -4.75570  6.34668
7     DD  0.362452  -5.43437  4.96970
6    CVX  0.340060  -6.02850  3.67084
26   UTX  0.306830  -4.32184  5.44794
14   JNJ  0.270470  -4.07609  5.98842
2     BA  0.253427  -3.80463  5.65488
29   XOM  0.240347  -6.14075  4.20420
19   MMM  0.207030  -3.56194  4.11705
18   MCD  0.196842  -4.08673  2.71145
13  INTC  0.188712  -3.78054  9.88223
8    DIS  0.175203  -6.01432  6.39706
4    CAT  0.152660  -5.07571  5.64811
25   TRV  0.110706  -4.92066  3.53501
10    HD  0.108416  -5.64885  5.06440
16    KO  0.081142  -4.49302  3.31063
28   WMT  0.079834  -3.82828  2.57463
24     T  0.059002  -3.40829  5.51344
23    PG -0.017015  -2.97628  3.48275
20   MRK -0.020566  -8.13204  6.67656
15   JPM -0.070105  -4.48936  4.34783
27    VZ -0.124289  -3.46789  2.75107
9     GE -0.240471  -4.36992  4.00421
0     AA -0.302084  -8.52713  5.93325
21  MSFT -0.468074  -4.24679  2.43615
11   HPQ -0.472149 -10.49750  6.79773
3    BAC -0.976965  -6.05634  7.62174
5   CSCO -1.178297 -15.42290  5.35117

## Top 5 by _percent change price_


1. PFE

2. IBM

3. KRFT

4. AXP

5. DD

# Who has the top _Volume_ by mean

In [46]:
quick_group('stock', 'volume')

   stock          mean        min         max
3    BAC  7.229991e+08  458423511  1453438639
5   CSCO  3.586616e+08  154708263  1000362015
13  INTC  2.990224e+08  201181541   513891027
21  MSFT  2.896988e+08  158547201   554889924
9     GE  2.639381e+08  158691572   520516218
22   PFE  2.274670e+08  143338656   457640533
15   JPM  1.511090e+08  107332185   234547885
24     T  1.322873e+08   73854767   384284485
0     AA  1.296388e+08   77152591   242963398
11   HPQ  9.485843e+07   46244533   217523955
29   XOM  9.368949e+07   43378708   129743696
27    VZ  7.838518e+07   37735134   141938064
20   MRK  7.677384e+07   46564832   131132702
14   JNJ  5.600611e+07   33273371    86229071
28   WMT  5.572143e+07   23073491    92696912
23    PG  4.865309e+07   29487333    70042160
10    HD  4.820505e+07   24190528    76297124
8    DIS  4.744367e+07   24312043    83975520
17  KRFT  4.481617e+07   24955086    71530535
6    CVX  3.857983e+07   18873837    57897831
16    KO  3.855617e+07   19831270    61665987
1    AXP  3.520848e+07   22929313    51427274
4    CAT  3.373112e+07   16331886    54274252
18   MCD  3.215170e+07   16734140    85400677
7     DD  2.911666e+07   15537427    45429653
12   IBM  2.473918e+07   14352613    41827781
2     BA  2.378142e+07   15886795    36258120
26   UTX  1.831807e+07   11690792    26234929
25   TRV  1.715718e+07   10135730    27494461
19   MMM  1.571965e+07    9718851    26110543

## Top 5 by _Volume_

1. BAC

2. CSCO

3. INTC

4. MSFT

5. GE

6. PFE (HONORABLE MENTION)

# Who are the highest valued stocks?

In [63]:
print('OPEN\n')
quick_group('stock', 'open'),
print('n'),
print('------------------------------------'),
print('------------------------------------'),
print('CLOSE\n'),


quick_group('stock', 'close')

OPEN

   stock      mean     min     max
12   IBM  162.2024  147.00  172.11
4    CAT  103.0672   92.71  116.24
6    CVX  100.8808   90.95  109.74
19   MMM   91.5300   85.70   97.58
26   UTX   83.7964   78.27   90.03
29   XOM   81.9584   73.72   88.10
18   MCD   77.1220   73.50   82.32
2     BA   73.2972   66.15   80.35
16    KO   65.2824   62.32   68.10
23    PG   64.0188   60.96   66.80
14   JNJ   62.4644   58.67   67.31
25   TRV   59.1104   53.12   63.56
28   WMT   53.8724   51.73   56.45
7     DD   52.7068   48.30   56.42
1    AXP   46.4880   43.30   51.39
15   JPM   44.5328   40.50   47.20
11   HPQ   41.7368   34.79   48.45
8    DIS   41.1944   37.74   43.53
10    HD   36.5332   33.46   39.30
27    VZ   36.5208   34.88   38.53
20   MRK   34.3800   32.09   37.26
17  KRFT   32.3836   30.53   34.97
24     T   29.6128   27.42   31.60
21  MSFT   26.0464   23.79   28.20
13  INTC   21.4044   19.53   23.32
9     GE   19.8344   18.31   21.51
22   PFE   19.7160   17.70   21.14
5   CSCO   18.1224   14.94   22.11
0     AA   16.5640   14.67   18.06
3    BAC   13.1756   10.59   15.08
n
------------------------------------
------------------------------------
CLOSE

   stock      mean     min     max
12   IBM  163.1016  147.93  170.58
4    CAT  103.1520   92.75  115.41
6    CVX  101.1756   91.19  109.66
19   MMM   91.6980   86.23   97.21
26   UTX   84.0332   79.08   89.58
29   XOM   82.1116   75.59   87.98
18   MCD   77.2704   72.99   82.52
2     BA   73.4480   69.10   79.78
16    KO   65.3264   62.21   68.30
23    PG   64.0020   60.60   67.36
14   JNJ   62.6236   58.57   66.77
25   TRV   59.1600   53.33   63.43
28   WMT   53.9128   51.52   56.70
7     DD   52.8736   48.35   56.79
1    AXP   46.7124   43.53   51.19
15   JPM   44.4996   39.49   48.00
11   HPQ   41.5364   34.90   48.67
8    DIS   41.2496   37.58   43.56
10    HD   36.5600   33.47   38.48
27    VZ   36.4696   34.95   38.47
20   MRK   34.3604   31.91   37.35
17  KRFT   32.5576   30.53   35.23
24     T   29.6268   27.49   31.41
21  MSFT   25.9208   23.70   28.60
13  INTC   21.4352   19.72   23.41
22   PFE   19.8216   18.15   20.97
9     GE   19.7840   17.97   21.44
5   CSCO   17.8992   14.93   22.05
0     AA   16.5044   14.72   17.92
3    BAC   13.0516   10.52   15.25

## The highest valued stocks are:

1. IBM

2. CAT

3. CVM

4. MMM

5. UTX

In [65]:
def fast_pearson(x,y):
    alpha = .05

    corr, p = stats.pearsonr(x, y)

    corr, p
    print(f'correlation is {corr}')
    print(f'P-value is {p}')
    if p < alpha:
        print("We reject the null hypothesis")
        print("we have confidence that there is a correlation")
    else:
        print("We fail to reject the null")

# is there a correlation between percent change and next week percent change?

In [74]:
fast_pearson(df.percent_change_next_weeks_price, df.percent_change_price)

correlation is 0.019955361311178362
P-value is 0.5853114447246122
We fail to reject the null

In [75]:
fast_pearson(df.open, df.percent_change_price)

correlation is 0.061484842767567195
P-value is 0.09244956969686441
We fail to reject the null

In [76]:
fast_pearson(df.open, df.close)

correlation is 0.9990440343201461
P-value is 0.0
We reject the null hypothesis
we have confidence that there is a correlation

In [77]:
fast_pearson(df.open, df.days_to_next_dividend)

correlation is -0.06522768160574915
P-value is 0.07421986641592808
We fail to reject the null

In [78]:
fast_pearson(df.open, df.percent_return_next_dividend)

correlation is -0.14600119269090486
P-value is 5.9885346324239936e-05
We reject the null hypothesis
we have confidence that there is a correlation

In [79]:
df.head(1)

,quarter,stock,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
date,,,,,,,,,,,,,,,
2011-01-04,2,IBM,161.54,164.42,161.12,164.27,19081936,1.68998,-24.820375,25381792.0,164.42,164.05,-0.225033,35,0.456565

In [ ]:
dfaa = df.where(df['stock'] == 'AA')