In [7]:
%matplotlib inline

import stumpy
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as dates
from matplotlib.patches import Rectangle
import datetime as dt
import dtale

plt.rcParams["figure.figsize"] = [20,6]  # width, height
plt.rcParams['xtick.direction'] = 'out'

# Gather the data and then clean up

In [4]:
#this was a fool hardy task
df = pd.read_csv('dow_jones.csv')

In [5]:
def prep_DOW(df):
    df.date = pd.to_datetime(df['date'], dayfirst=True, infer_datetime_format=True)
    df = df.set_index('date').sort_index()
    df = df.replace('\$',' ', regex=True)
    df['next_weeks_close'] = df.next_weeks_close.astype('float64')
    df['next_weeks_open'] = df.next_weeks_open.astype('float64')
    df['open'] = df.open.astype('float64')
    df['high'] = df.high.astype('float64')
    df['low'] = df.low.astype('float64')
    df['close'] = df.close.astype('float64')
    df['quarter'] = df.quarter.astype('int')

    return df

## To note: data gathered was already very sterilized, the missing values in this dataset were not removed. or changed, as they may infer data from a previous quarter.

## there are exactly 30 Null values both for:

        - percent_change_volume_over_last_wk
        
        - previous_weeks_volume
        
## dated on the first day / farthest in the past

In [6]:
df = prep_DOW(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 750 entries, 2011-01-04 to 2011-11-03
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   quarter                             750 non-null    int64
 1   stock                               750 non-null    object
 2   open                                750 non-null    float64
 3   high                                750 non-null    float64
 4   low                                 750 non-null    float64
 5   close                               750 non-null    float64
 6   volume                              750 non-null    int64
 7   percent_change_price                750 non-null    float64
 8   percent_change_volume_over_last_wk  720 non-null    float64
 9   previous_weeks_volume               720 non-null    float64
 10  next_weeks_open                     750 non-null    float64
 11  next_weeks_close                    750 non-null    float64
 12  percent_change_next_weeks_price     750 non-null    float64
 13  days_to_next_dividend               750 non-null    int64
 14  percent_return_next_dividend        750 non-null    float64
dtypes: float64(11), int64(3), object(1)
memory usage: 93.8+ KB

In [ ]:
df.head()

In [15]:
df.groupby('stock')['close'].nunique()

stock
AA      25
AXP     24
BA      25
BAC     23
CAT     25
CSCO    25
CVX     25
DD      24
DIS     23
GE      24
HD      24
HPQ     25
IBM     25
INTC    24
JNJ     24
JPM     24
KO      25
KRFT    24
MCD     25
MMM     25
MRK     23
MSFT    25
PFE     24
PG      25
T       23
TRV     25
UTX     24
VZ      24
WMT     25
XOM     25
Name: close, dtype: int64

In [ ]:
df = df.replace('\$',' ', regex=True)
df.head()

In [ ]:
df['month'] = df.index.strftime('%m-%b')

In [ ]:
df['day_week'] = df.index.strftime('%w-%a')
df.head(3)

In [ ]:
df.tail(3)

In [ ]:
df2 = pd.DataFrame({'stock':df.stock.unique()})

In [ ]:
df.groupby

In [ ]:
df.date = pd.to_datetime(df['date'])

In [ ]:
df = df.set_index('date').sort_index()

In [ ]:
df.info()

In [ ]:
plt.suptitle('Steamgen Dataset', fontsize='30')
plt.xlabel('date', fontsize ='20')
plt.ylabel('percent_change_price', fontsize='20')
plt.plot(df['percent_change_price'].values)

In [ ]:
m = 58
mp = stumpy.stump(df['percent_change_price'], m)

In [ ]:
motif_idx = np.argsort(mp[:, 0])[0]
print(f"The motif is located at index {motif_idx}")

In [ ]:
nearest_neighbor_idx = mp[motif_idx, 1]
print(f"The nearest neighbor is located at index {nearest_neighbor_idx}")

In [ ]:
fig, axs = plt.subplots(2, sharex=True, gridspec_kw={'hspace': 0})
plt.suptitle('Motif (Pattern) Discovery', fontsize='30')
axs[0].plot(df['percent_change_price'].values)
axs[0].set_ylabel('percent_change_price', fontsize='20')
rect = Rectangle((643, 0), m, 40, facecolor='lightgrey')
axs[0].add_patch(rect)
rect = Rectangle((800, 0), m, 40, facecolor='lightgrey')
axs[0].add_patch(rect)
axs[1].set_xlabel('date', fontsize ='20')
axs[1].set_ylabel('Matrix Profile', fontsize='20')
axs[1].axvline(x=643, linestyle="dashed")
axs[1].axvline(x=800, linestyle="dashed")
axs[1].plot(mp[:, 0])

In [ ]:
df.head()

In [11]:
dfaa = df.where(df['stock'] == 'AA')

In [13]:
dfaa = dfaa.dropna()

In [ ]:
dfaa.close.where(df['quarter' == 1]).plot()

In [ ]:
dfaa['quarter'] = dfaa.quarter.astype('int')

In [ ]:
dfaa.head()

In [14]:
dtale.show(dfaa)

Exception occurred while processing request: obj must have the same number of elements in axis 0 as orig
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 60, in run
    cycle = bkfilter(df, low, high, K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/filters/bk_filter.py", line 99, in bkfilter
    return pw.wrap(x, append='cycle', trim_start=K, trim_end=K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tools/validation/validation.py", line 206, in wrap
    raise ValueError(
ValueError: obj must have the same number of elements in axis 0 as orig
Exception occurred while processing request: obj must have the same number of elements in axis 0 as orig
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 60, in run
    cycle = bkfilter(df, low, high, K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/filters/bk_filter.py", line 99, in bkfilter
    return pw.wrap(x, append='cycle', trim_start=K, trim_end=K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tools/validation/validation.py", line 206, in wrap
    raise ValueError(
ValueError: obj must have the same number of elements in axis 0 as orig

2022-08-17 11:16:39,094 - ERROR    - Exception occurred while processing request: obj must have the same number of elements in axis 0 as orig
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 60, in run
    cycle = bkfilter(df, low, high, K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/filters/bk_filter.py", line 99, in bkfilter
    return pw.wrap(x, append='cycle', trim_start=K, trim_end=K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tools/validation/validation.py", line 206, in wrap
    raise ValueError(
ValueError: obj must have the same number of elements in axis 0 as orig

Exception occurred while processing request: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 110, in run
    sd_df = seasonal_decompose(df, model=model)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/seasonal.py", line 159, in seasonal_decompose
    raise ValueError(
ValueError: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None
Exception occurred while processing request: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 110, in run
    sd_df = seasonal_decompose(df, model=model)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/seasonal.py", line 159, in seasonal_decompose
    raise ValueError(
ValueError: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None

2022-08-17 11:16:54,752 - ERROR    - Exception occurred while processing request: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 110, in run
    sd_df = seasonal_decompose(df, model=model)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/seasonal.py", line 159, in seasonal_decompose
    raise ValueError(
ValueError: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None

Exception occurred while processing request: Unable to determine period from endog
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 133, in run
    sd_df = STL(df).fit()
  File "statsmodels/tsa/_stl.pyx", line 219, in statsmodels.tsa._stl.STL.__init__
ValueError: Unable to determine period from endog
Exception occurred while processing request: Unable to determine period from endog
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 133, in run
    sd_df = STL(df).fit()
  File "statsmodels/tsa/_stl.pyx", line 219, in statsmodels.tsa._stl.STL.__init__
ValueError: Unable to determine period from endog

2022-08-17 11:17:03,093 - ERROR    - Exception occurred while processing request: Unable to determine period from endog
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 133, in run
    sd_df = STL(df).fit()
  File "statsmodels/tsa/_stl.pyx", line 219, in statsmodels.tsa._stl.STL.__init__
ValueError: Unable to determine period from endog

Exception occurred while processing request: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 110, in run
    sd_df = seasonal_decompose(df, model=model)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/seasonal.py", line 159, in seasonal_decompose
    raise ValueError(
ValueError: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None
Exception occurred while processing request: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 110, in run
    sd_df = seasonal_decompose(df, model=model)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/seasonal.py", line 159, in seasonal_decompose
    raise ValueError(
ValueError: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None

2022-08-17 11:17:13,400 - ERROR    - Exception occurred while processing request: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 110, in run
    sd_df = seasonal_decompose(df, model=model)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/seasonal.py", line 159, in seasonal_decompose
    raise ValueError(
ValueError: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None

Exception occurred while processing request: obj must have the same number of elements in axis 0 as orig
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 60, in run
    cycle = bkfilter(df, low, high, K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/filters/bk_filter.py", line 99, in bkfilter
    return pw.wrap(x, append='cycle', trim_start=K, trim_end=K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tools/validation/validation.py", line 206, in wrap
    raise ValueError(
ValueError: obj must have the same number of elements in axis 0 as orig
Exception occurred while processing request: obj must have the same number of elements in axis 0 as orig
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 60, in run
    cycle = bkfilter(df, low, high, K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/filters/bk_filter.py", line 99, in bkfilter
    return pw.wrap(x, append='cycle', trim_start=K, trim_end=K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tools/validation/validation.py", line 206, in wrap
    raise ValueError(
ValueError: obj must have the same number of elements in axis 0 as orig

2022-08-17 11:17:28,759 - ERROR    - Exception occurred while processing request: obj must have the same number of elements in axis 0 as orig
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 60, in run
    cycle = bkfilter(df, low, high, K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/filters/bk_filter.py", line 99, in bkfilter
    return pw.wrap(x, append='cycle', trim_start=K, trim_end=K)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/statsmodels/tools/validation/validation.py", line 206, in wrap
    raise ValueError(
ValueError: obj must have the same number of elements in axis 0 as orig

In [10]:
dtale.show(df)

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!
Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-08-17 11:13:16,130 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 59, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!
Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 59, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-08-17 11:13:28,846 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 59, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 77, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!
Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 77, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-08-17 11:13:30,168 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 77, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 59, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!
Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 59, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-08-17 11:13:31,105 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 59, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!
Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-08-17 11:13:32,256 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 59, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!
Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 59, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-08-17 11:13:33,004 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 59, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 77, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!
Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 77, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-08-17 11:13:33,689 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 77, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 109, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!
Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 109, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-08-17 11:13:34,641 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 109, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 132, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!
Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 132, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-08-17 11:13:35,464 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 120, in _handle_exceptions
    return func(*args, **kwargs)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/views.py", line 3825, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 132, in run
    df = build_data(data, self.cfg)
  File "/usr/local/anaconda3/lib/python3.9/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

In [18]:
df.stock.describe()

count     750
unique     30
top       IBM
freq       25
Name: stock, dtype: object

In [19]:
df.head()

,quarter,stock,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
date,,,,,,,,,,,,,,,
2011-01-04,2,IBM,161.54,164.42,161.12,164.27,19081936,1.68998,-24.820375,25381792.0,164.42,164.05,-0.225033,35,0.456565
2011-01-04,2,TRV,59.09,60.01,58.37,59.71,16608737,1.04925,17.569654,14126721.0,59.83,59.58,-0.417851,68,0.686652
2011-01-04,2,KO,65.20,67.48,65.03,67.22,39265955,3.09816,31.529107,29853434.0,67.22,67.27,0.074383,73,0.699197
2011-01-04,2,XOM,83.86,84.94,82.61,84.68,77569311,0.97782,-6.951645,83364516.0,84.26,85.95,2.005700,40,0.555031
2011-01-04,2,PG,61.08,62.30,60.61,62.08,43453701,1.63720,5.084613,41351155.0,62.17,61.90,-0.434293,26,0.853737

In [20]:
group_stocks = df.groupby(['date', 'stock']).agg({})

In [23]:
group_stocks.describe()

                 quarter                                    open          ...  \
                   count mean std  min  25%  50%  75%  max count    mean  ...
date       stock                                                          ...
2011-01-04 AA        1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0   1.0   17.13  ...
           AXP       1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0   1.0   45.54  ...
           BA        1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0   1.0   73.50  ...
           BAC       1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0   1.0   13.42  ...
           CAT       1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0   1.0  109.54  ...
...                  ...  ...  ..  ...  ...  ...  ...  ...   ...     ...  ...
2011-11-03 TRV       1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0   1.0   59.26  ...
           UTX       1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0   1.0   83.03  ...
           VZ        1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0   1.0   36.13  ...
           WMT       1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0   1.0   52.26  ...
           XOM       1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0   1.0   85.84  ...

                 days_to_next_dividend       percent_return_next_dividend  \
                                   75%   max                        count
date       stock
2011-01-04 AA                     41.0  41.0                          1.0
           AXP                     5.0   5.0                          1.0
           BA                     40.0  40.0                          1.0
           BAC                    61.0  61.0                          1.0
           CAT                    19.0  19.0                          1.0
...                                ...   ...                          ...
2011-11-03 TRV                    89.0  89.0                          1.0
           UTX                    68.0  68.0                          1.0
           VZ                     26.0  26.0                          1.0
           WMT                    61.0  61.0                          1.0
           XOM                    61.0  61.0                          1.0

                                                                        \
                      mean std       min       25%       50%       75%
date       stock
2011-01-04 AA     0.171723 NaN  0.171723  0.171723  0.171723  0.171723
           AXP    0.396825 NaN  0.396825  0.396825  0.396825  0.396825
           BA     0.567491 NaN  0.567491  0.567491  0.567491  0.567491
           BAC    0.074794 NaN  0.074794  0.074794  0.074794  0.074794
           CAT    0.388967 NaN  0.388967  0.388967  0.388967  0.388967
...                    ...  ..       ...       ...       ...       ...
2011-11-03 TRV    0.696332 NaN  0.696332  0.696332  0.696332  0.696332
           UTX    0.590551 NaN  0.590551  0.590551  0.590551  0.590551
           VZ     1.366810 NaN  1.366810  1.366810  1.366810  1.366810
           WMT    0.703556 NaN  0.703556  0.703556  0.703556  0.703556
           XOM    0.572333 NaN  0.572333  0.572333  0.572333  0.572333


                       max
date       stock
2011-01-04 AA     0.171723
           AXP    0.396825
           BA     0.567491
           BAC    0.074794
           CAT    0.388967
...                    ...
2011-11-03 TRV    0.696332
           UTX    0.590551
           VZ     1.366810
           WMT    0.703556
           XOM    0.572333

[750 rows x 112 columns]

In [45]:
group_single = df.groupby('stock').agg({'close':['mean','min','max']})
group_single.columns = ['close_mean','close_min','close_max']
group_single = group_single.reset_index()
print(group_single.sort_values(by='close_mean'))

   stock  close_mean  close_min  close_max
3    BAC     13.0516      10.52      15.25
0     AA     16.5044      14.72      17.92
5   CSCO     17.8992      14.93      22.05
9     GE     19.7840      17.97      21.44
22   PFE     19.8216      18.15      20.97
13  INTC     21.4352      19.72      23.41
21  MSFT     25.9208      23.70      28.60
24     T     29.6268      27.49      31.41
17  KRFT     32.5576      30.53      35.23
20   MRK     34.3604      31.91      37.35
27    VZ     36.4696      34.95      38.47
10    HD     36.5600      33.47      38.48
8    DIS     41.2496      37.58      43.56
11   HPQ     41.5364      34.90      48.67
15   JPM     44.4996      39.49      48.00
1    AXP     46.7124      43.53      51.19
7     DD     52.8736      48.35      56.79
28   WMT     53.9128      51.52      56.70
25   TRV     59.1600      53.33      63.43
14   JNJ     62.6236      58.57      66.77
23    PG     64.0020      60.60      67.36
16    KO     65.3264      62.21      68.30
2     BA     73.4480      69.10      79.78
18   MCD     77.2704      72.99      82.52
29   XOM     82.1116      75.59      87.98
26   UTX     84.0332      79.08      89.58
19   MMM     91.6980      86.23      97.21
6    CVX    101.1756      91.19     109.66
4    CAT    103.1520      92.75     115.41
12   IBM    163.1016     147.93     170.58

In [42]:
stock_change = df.groupby('stock').agg({'percent_change_price':['mean','min','max']})
stock_change.columns = ['percent_change_mean',
                        'percent_change_min',
                        'percent_change_max']
stock_change = stock_change.reset_index()
print(stock_change.sort_values(by='percent_change_mean'))

   stock  percent_change_mean  percent_change_min  percent_change_max
5   CSCO            -1.178297           -15.42290             5.35117
3    BAC            -0.976965            -6.05634             7.62174
11   HPQ            -0.472149           -10.49750             6.79773
21  MSFT            -0.468074            -4.24679             2.43615
0     AA            -0.302084            -8.52713             5.93325
9     GE            -0.240471            -4.36992             4.00421
27    VZ            -0.124289            -3.46789             2.75107
15   JPM            -0.070105            -4.48936             4.34783
20   MRK            -0.020566            -8.13204             6.67656
23    PG            -0.017015            -2.97628             3.48275
24     T             0.059002            -3.40829             5.51344
28   WMT             0.079834            -3.82828             2.57463
16    KO             0.081142            -4.49302             3.31063
10    HD             0.108416            -5.64885             5.06440
25   TRV             0.110706            -4.92066             3.53501
4    CAT             0.152660            -5.07571             5.64811
8    DIS             0.175203            -6.01432             6.39706
13  INTC             0.188712            -3.78054             9.88223
18   MCD             0.196842            -4.08673             2.71145
19   MMM             0.207030            -3.56194             4.11705
29   XOM             0.240347            -6.14075             4.20420
2     BA             0.253427            -3.80463             5.65488
14   JNJ             0.270470            -4.07609             5.98842
26   UTX             0.306830            -4.32184             5.44794
6    CVX             0.340060            -6.02850             3.67084
7     DD             0.362452            -5.43437             4.96970
1    AXP             0.521029            -4.75570             6.34668
17  KRFT             0.544360            -2.73973             5.13709
12   IBM             0.587680            -3.27004             3.79122
22   PFE             0.591685            -3.41018             6.10225

In [43]:
stock_volume = df.groupby('stock').agg({'volume':['mean','min','max']})
stock_volume.columns = ['volume_mean',
                        'volume_min',
                        'volume_max']
stock_volume = stock_volume.reset_index()
print(stock_volume.sort_values(by='volume_mean'))

   stock   volume_mean  volume_min  volume_max
19   MMM  1.571965e+07     9718851    26110543
25   TRV  1.715718e+07    10135730    27494461
26   UTX  1.831807e+07    11690792    26234929
2     BA  2.378142e+07    15886795    36258120
12   IBM  2.473918e+07    14352613    41827781
7     DD  2.911666e+07    15537427    45429653
18   MCD  3.215170e+07    16734140    85400677
4    CAT  3.373112e+07    16331886    54274252
1    AXP  3.520848e+07    22929313    51427274
16    KO  3.855617e+07    19831270    61665987
6    CVX  3.857983e+07    18873837    57897831
17  KRFT  4.481617e+07    24955086    71530535
8    DIS  4.744367e+07    24312043    83975520
10    HD  4.820505e+07    24190528    76297124
23    PG  4.865309e+07    29487333    70042160
28   WMT  5.572143e+07    23073491    92696912
14   JNJ  5.600611e+07    33273371    86229071
20   MRK  7.677384e+07    46564832   131132702
27    VZ  7.838518e+07    37735134   141938064
29   XOM  9.368949e+07    43378708   129743696
11   HPQ  9.485843e+07    46244533   217523955
0     AA  1.296388e+08    77152591   242963398
24     T  1.322873e+08    73854767   384284485
15   JPM  1.511090e+08   107332185   234547885
22   PFE  2.274670e+08   143338656   457640533
9     GE  2.639381e+08   158691572   520516218
21  MSFT  2.896988e+08   158547201   554889924
13  INTC  2.990224e+08   201181541   513891027
5   CSCO  3.586616e+08   154708263  1000362015
3    BAC  7.229991e+08   458423511  1453438639

In [44]:
stock_open = df.groupby('stock').agg({'open':['mean','min','max']})
stock_open.columns = ['open_mean',
                        'open_min',
                        'open_max']
stock_open = stock_open.reset_index()
print(stock_open.sort_values(by='open_mean'))

   stock  open_mean  open_min  open_max
3    BAC    13.1756     10.59     15.08
0     AA    16.5640     14.67     18.06
5   CSCO    18.1224     14.94     22.11
22   PFE    19.7160     17.70     21.14
9     GE    19.8344     18.31     21.51
13  INTC    21.4044     19.53     23.32
21  MSFT    26.0464     23.79     28.20
24     T    29.6128     27.42     31.60
17  KRFT    32.3836     30.53     34.97
20   MRK    34.3800     32.09     37.26
27    VZ    36.5208     34.88     38.53
10    HD    36.5332     33.46     39.30
8    DIS    41.1944     37.74     43.53
11   HPQ    41.7368     34.79     48.45
15   JPM    44.5328     40.50     47.20
1    AXP    46.4880     43.30     51.39
7     DD    52.7068     48.30     56.42
28   WMT    53.8724     51.73     56.45
25   TRV    59.1104     53.12     63.56
14   JNJ    62.4644     58.67     67.31
23    PG    64.0188     60.96     66.80
16    KO    65.2824     62.32     68.10
2     BA    73.2972     66.15     80.35
18   MCD    77.1220     73.50     82.32
29   XOM    81.9584     73.72     88.10
26   UTX    83.7964     78.27     90.03
19   MMM    91.5300     85.70     97.58
6    CVX   100.8808     90.95    109.74
4    CAT   103.0672     92.71    116.24
12   IBM   162.2024    147.00    172.11
Executing shutdown due to inactivity...
Executing shutdown due to inactivity...

2022-08-17 12:49:55,327 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...
Executing shutdown...

2022-08-17 12:49:55,340 - INFO     - Executing shutdown...
/usr/local/anaconda3/lib/python3.9/site-packages/dtale/app.py:397: UserWarning:

The 'environ['werkzeug.server.shutdown']' function is deprecated and will be removed in Werkzeug 2.1.