In [2]:
%matplotlib inline

import stumpy
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as dates
from matplotlib.patches import Rectangle
import datetime as dt

plt.rcParams["figure.figsize"] = [20,6]  # width, height
plt.rcParams['xtick.direction'] = 'out'

In [3]:
df = pd.read_csv('dow_jones.csv')

In [ ]:
def prep_DOW(df):
    df.date = pd.to_datetime(df['date'], dayfirst=True, infer_datetime_format=True)
    df = df.set_index('date').sort_index()
    df = df.replace('\$',' ', regex=True)
    df['next_weeks_close'] = df.next_weeks_close.astype('float64')
    df['next_weeks_open'] = df.next_weeks_open.astype('float64')
    df['open'] = df.open.astype('float64')
    df['high'] = df.high.astype('float64')
    df['low'] = df.low.astype('float64')
    df['close'] = df.close.astype('float64')

    return df

In [5]:
df = prep_DOW(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 750 entries, 2011-01-07 to 2011-06-24
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   quarter                             750 non-null    int64
 1   stock                               750 non-null    object
 2   open                                750 non-null    float64
 3   high                                750 non-null    float64
 4   low                                 750 non-null    float64
 5   close                               750 non-null    float64
 6   volume                              750 non-null    int64
 7   percent_change_price                750 non-null    float64
 8   percent_change_volume_over_last_wk  720 non-null    float64
 9   previous_weeks_volume               720 non-null    float64
 10  next_weeks_open                     750 non-null    float64
 11  next_weeks_close                    750 non-null    float64
 12  percent_change_next_weeks_price     750 non-null    float64
 13  days_to_next_dividend               750 non-null    int64
 14  percent_return_next_dividend        750 non-null    float64
dtypes: float64(11), int64(3), object(1)
memory usage: 93.8+ KB

In [6]:
df.head()

,quarter,stock,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
date,,,,,,,,,,,,,,,
2011-01-07,1,AA,15.82,16.72,15.78,16.42,239655616,3.792670,NaN,NaN,16.71,15.97,-4.428490,26,0.182704
2011-01-07,1,T,29.68,30.10,28.66,28.85,157834347,-2.796500,NaN,NaN,28.54,28.43,-0.385424,30,1.490470
2011-01-07,1,BAC,13.85,14.69,13.80,14.25,1453438639,2.888090,NaN,NaN,14.17,15.25,7.621740,54,0.070175
2011-01-07,1,PG,64.39,65.08,64.00,64.50,52323352,0.170834,NaN,NaN,64.40,65.53,1.754660,12,0.744186
2011-01-07,1,PFE,17.70,18.38,17.62,18.34,386804789,3.615820,NaN,NaN,18.22,18.34,0.658617,26,1.090510

In [ ]:
df.groupby('stock')['close'].nunique()

In [ ]:
df = df.replace('\$',' ', regex=True)
df.head()

In [ ]:
df.date = pd.to_datetime(df['date'])

In [ ]:
df = df.set_index('date').sort_index()

In [ ]:
df.info()

In [ ]:
plt.suptitle('DOW Dataset', fontsize='30')
plt.xlabel('date)

In [ ]:
df.info()